<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.seitasv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_hand"
        android:roundIcon="@drawable/ic_hand"
        android:supportsRtl="true"
        android:theme="@style/Theme.Seitasv2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Seitasv2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".LeccionesActivity"
            android:exported="true"
            android:label="Lecciones"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".GestionPalabrasActivity"
            android:exported="true"
            android:label="Palabras Ahorcado"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".UsuariosActivity"
            android:exported="true"
            android:label="Usuarios"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".AjustesActivity"
            android:exported="true"
            android:label="Ajustes"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".EstadisticasActivity"
            android:exported="true"
            android:label="Estadísticas"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".GestosMenuActivity"
            android:exported="true"
            android:label="Gestos ADMIN"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".HandsActivity"
            android:exported="true"
            android:label="Practicar Gestos"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".DatasetActivity"
            android:exported="true"
            android:label="Modo Dataset"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".PracticasActivity"
            android:exported="true"
            android:label="Prácticas"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".VideoPlayerActivity"
            android:exported="true"
            android:label="Reproductor de Video"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".GestionUsuariosActivity"
            android:exported="true"
            android:label="Prácticas"
            android:theme="@style/Theme.Seitasv2" />

        <activity
            android:name=".GestionLeccionesActivity"
            android:exported="true"
            android:label="Prácticas"
            android:theme="@style/Theme.Seitasv2" />

    </application>
</manifest>